@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color1 : #3a435e;
  --color2: #fffefb;
  --color3 : #B4CEE6;
  --color4: #c7def3;
}

body {
  background-color: var(--color2);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
